[Desktop Entry]
Name=Google Chrome, the Latest
GenericName=Google Chrome, the Latest
Comment=Google Chrome updater tool
Exec=gksu python3 /opt/google-chrome-the-latest/google-chrome-the-latest.py gui
Icon=google-chrome-the-latest
Terminal=false
Type=Application
Categories=System;
StartupNotify=false
